@import "tailwindcss";

:root {
    --bg-line-color: #bebebeab;
    --bg-color: #f7f7f7;
    --primary-text-color: #212529;
    --secondary-text-color: #212529;
    --ternary-text-color: #212529;
    --border-color: black;
    --hover-text-color: white;
}

/* light theme */
[data-theme="light"] {
    --bg-line-color: #bebebeab;
    --bg-color: #f7f7f7;
    --primary-text-color: #212529;
    --secondary-text-color: #212529;
    --ternary-text-color: #212529;
    --border-color: black;
    --hover-text-color: white;
}

/* dark theme */
[data-theme="dark"] {
    --bg-line-color: #0f0f0fab;
    --bg-color: #212529;
    --primary-text-color: #f7f7f7;
    --secondary-text-color: #f7f7f7;
    --ternary-text-color: #f7f7f7;
    --border-color: white;
    --hover-text-color: black;
}

body {
    width: 100%;
    background-color: var(--bg-color);
}

h1 {
    font-size: 24px;
    color: var(--primary-text-color);
}

h3 {
    font-size: 18px;
    color: var(--secondary-text-color);
}

p {
    font-size: 14px;
    color: var(--ternary-text-color);
}

button {
    font-size: 14px;
    color: var(--ternary-text-color);
    padding: 2px 12px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

button:hover {
    color: var(--hover-text-color);
    background-color: var(--border-color);
}